body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}

.calculator {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
    text-align: center;
}

#result {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
    text-align: right;
}

.buttons button {
    width: 25%;
    padding: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color: #f1f1f1;
}

.buttons button:hover {
    background-color: #ddd;
}

.buttons button:active {
    background-color: #ccc;
}
